<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="title" value="{{ book.title }}">
        <input type="text" name="author" value="{{ book.author }}">
        <input type="text" name="description" value="{{ book.description }}">
        <button type="submit">Enregistrer</button>
    </form>


    <a href="{{ url_for('home') }}">Annuler et revenir à l'accueil</a>  
</body>
</html>